body {
	background: yellow;
        background-image:url("../imagens/hunterback.jpeg");
}


h1 {
	color: blue;
	font-size: 68px;
}

h2 {
	color: red;
	font-size: 42px;
}

.colorp1{
	color: yellow;
	font-size: 10px
}
